/* Styling för Navbar.jsx */

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px; 
    height: 80px; 
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #d3beb5d8;
    backdrop-filter: blur(5px);
    cursor: pointer;
}

nav .left a {
    font-family: 'Amatic SC', sans-serif;
    font-weight: 400;
    color: var(--text-color);
    font-size: 26px;
}

nav .right a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 200;
    margin: 0 10px; 
}

nav .right a:hover {
    color: var(--link-color);
    transition: color 0.3s ease-in-out;
}
